<h1>Here is a list of garages to join</h1> 
 <ul>
  <% @garages.each do |garage| %>
    <li><a href='/garages/<%= garage.id %>'><h2><%= garage.name %></h2></a></li>
    <a href='/garages/<%= garage.id %>/edit'>Edit Garage Name</a>
    <hr>
    <% end %>
</ul>
<h4>Need to add a garage?</h4>
<p><a href='/garages/new'>Click Here!</a></p>