<h1>User Login</h1>
<form method='post' action='/login'>
  <p>Username:<input type='text' name='username' placeholder="Enter User"></p>
  <p>Password:<input type='password' name='password' placeholder="Enter Password"></p>
  <input type='submit' value='Login'>
<form>